@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ZenMaruGothic';
    src: url('/fonts/ZenMaruGothic-Regular.ttf') format('truetype');
    /* Add additional formats as needed */
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'ZenMaruGothic';
    src: url('/fonts/ZenMaruGothic-Medium.ttf') format('truetype');
    /* Add additional formats as needed */
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ZenMaruGothic';
    src: url('/fonts/ZenMaruGothic-Bold.ttf') format('truetype');
    /* Add additional formats as needed */
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'ZenMaruGothic';
    src: url('/fonts/ZenMaruGothic-Black.ttf') format('truetype');
    /* Add additional formats as needed */
    font-weight: 900;
    font-style: normal;
  }

  .animateFadeFromDown{animation: fadeInUp 1s ease-out forwards}
  .animateFadeFromDownDelay{
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.3s;
  }
  .animateNotActive{
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  .animateSlideFromRight{animation: slideInFromRight 1s ease-out forwards;}
  .animateSlideFromLeft{animation: slideInFromLeft 1s ease-out forwards;}

  @keyframes fadeInUp{
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideInFromRight{
    from{
      opacity: 0;
      transform: translateX(200px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInFromLeft{
    from{
      opacity: 0;
      transform: translateX(-200px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }